html, body {
    margin: 0;
    width:100%;
    height: 100%;
}

#beforeGround {
    width: 100%;
    height: fit-content;
}

#leftLine {
    border: solid 3px black;
    text-align: left;
}

#foreGround{
    width:100%;
    height:78%;
}